@use "../../Styles/GlobalStyle" as *;

.Projetos {
    background-color: $dark;

    height: 100vh;

    padding-top: 100px;

    .Projetos__titulo {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 10px;

        margin-bottom: 15px;

        *:first-child {
            color: $border;
        }
        h1 {
            color: $title;
        }
    }
}
