.Slide {
    max-width: 80%;

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    .Slide_card__container {
        display: flex;

        overflow-x: auto;
        scroll-behavior: smooth;

        .Slide__card {
            margin: 0 5px;
        }
    }

    .Slide_card__container::-webkit-scrollbar {
        display: none;
    }
}

@media (min-width: 1200px) {
    .Slide {
        margin: auto;

        max-width: 51%;

        user-select: none;
    }
}
