@use "GlobalStyle" as *;

.App {
  height: 100vh;
  background: rgb(88, 93, 98);
  background: radial-gradient(
    circle,
    rgba(88, 93, 98, 1) 0%,
    rgba(43, 52, 67, 1) 45%,
    rgba(32, 39, 51, 1) 100%
  );
}
