@use "GlobalStyle" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: rgb(32, 39, 51);
  background: linear-gradient(
    0deg,
    rgba(32, 39, 51, 1) 0%,
    rgba(43, 52, 67, 1) 50%,
    rgba(32, 39, 52, 1) 100%
  );
}

.App {
  height: 100vh;
}
