@use "GlobalStyle" as *;

* {
    font-family: "Sintony", sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: $border transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: $dark;
}

*::-webkit-scrollbar-thumb {
    background-color: $border;
    border-radius: 10px;
}

body {
    height: 100%;
    background: rgb(32, 39, 51);
    background: linear-gradient(
        0deg,
        rgba(32, 39, 51, 1) 0%,
        rgba(43, 52, 67, 1) 50%,
        rgba(32, 39, 52, 1) 100%
    );
}
