@use "../../Styles/GlobalStyle" as *;

.Logo {
    width: 14rem;
    h1 {
        color: $title;
        margin: 0 2px;
    }

    h1:nth-child(1),
    h1:nth-child(3) {
        color: $border;
    }
}
