@use "../../Styles/GlobalStyle" as *;

.NavBar {
  position: fixed;

  width: 100%;
  padding: 5px 10px;

  list-style: none;

  div:first-child {
    display: flex;
    justify-content: space-between;
  }

  .Menus__colapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    // padding: 50% 50%;

    background-color: $background;

    transition: all 0.2s linear;

    li {
      margin-bottom: 50px;

      font-family: "Karla", sans-serif;

      display: flex;
      flex-direction: column;

      font-size: 1.8rem;

      color: $fonte;

      cursor: pointer;

      &::after {
        content: "";

        margin-top: 3px;

        opacity: 0;

        transition: all 0.4s ease-in-out;
      }

      &.active::after {
        content: "";

        width: 50%;
        height: 2px;

        background-color: $border;

        opacity: 1;
      }
    }
  }

  .Menus__colapse--Close {
    transform: translateX(150%);
  }
}

// @media screen and (min-width: 1200px) {
//   .NavBar {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;

//     width: 100%;

//     div:first-child {
//       width: 10%;
//     }
//   }

//   .Menus__colapse {
//     // display: flex;
//     // flex-direction: row;
//     // justify-content: space-around;

//     transform: none;
//     padding: 0;
//     top: 0;
//   }
// }
