@use "../../Styles/GlobalStyle" as *;

.NavBar {
  z-index: 999;

  position: sticky;

  width: 100%;
  height: 10%;
  padding: 10px 0;

  list-style: none;

  div:first-child {
    display: flex;
    justify-content: space-between;
  }

  .Menus__colapse {
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100%;

    background-color: $background;

    transition: all 0.2s linear;

    li {
      margin-bottom: 50px;

      font-family: "Karla", sans-serif;

      display: flex;
      flex-direction: column;

      font-size: 1.8rem;

      color: $fonte;

      cursor: pointer;

      &::after {
        content: "";

        margin-top: 3px;

        opacity: 0;

        transition: all 0.4s ease-in-out;
      }

      &.active::after {
        content: "";

        width: 50%;
        height: 2px;

        background-color: $border;

        opacity: 1;
      }
    }
  }

  .Menus__colapse--Close {
    transform: translateX(150%);
  }
}

@media screen and (min-width: 1200px) {
  .NavBar {
    position: sticky;

    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: 20px 0;

    list-style: none;

    div:first-child {
      margin-left: 25px;
    }

    .Menus__colapse {
      position: sticky;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      width: 40%;
      height: 10%;

      background-color: transparent;

      transition: none;

      li {
        font-family: "Karla", sans-serif;

        display: flex;
        flex-direction: column;

        margin: 0;

        font-size: 1.8rem;

        color: $fonte;

        cursor: pointer;

        &::after {
          content: "";

          margin-top: 3px;

          opacity: 0;

          transition: all 0.4s ease-in-out;
        }

        &.active::after {
          content: "";

          width: 50%;
          height: 2px;

          background-color: $border;

          opacity: 1;
        }
      }
    }
    .Menus__colapse--Close {
      transform: none;
    }
  }
}
