.fora {
    display: flex;
    align-items: center;

    margin: auto;

    height: 5px;

    border-radius: 10px;

    background-color: #13171e;

    .dentro {
        height: 100%;
        width: 10%;

        border-radius: 10px;
    }
}
